h1 {
  font-family: "Anton", sans-serif;
  font-size: 30px;
  color: #34495e;
  padding: 0;
  margin: 0;
}
h3 {
  font-family: "Anton", sans-serif;
  font-size: 50px;
  color: #22313f;
}
li {
  font-family: "Montserrat", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: #22313f;
}

a {
  text-decoration: none;
}
#description {
  text-transform: capitalize;
}
.weather-app-wrapper {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.weather-app {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 20px;
  margin-top: 64px;
}

.weather-app .active {
  color: black;
  cursor: default;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-temp {
  font-size: 13px;
}

.weather-forecast-date {
  color: #34495e;
  font-size: 16px;
}
.weather-forecast-temp-max {
  color: #22313f;
}

.weather-forecast-temp-min {
  color: #8dc6ff;
}

.units {
  color: #22313f;
  font-size: 30px;
  font-weight: lighter;
}
.current-weather-icon {
  padding: 14px;
  margin: 15px;
  width: 200px;
  height: auto;
}
